.sidebar {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 64px;
}

.sidebar__item {
    width: 64px;
    height: 74px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
}

.sidebar__item i {
    font-size: 24px;
}

.sidebar__item span {
    font-size: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.sidebar__item:hover {
    background-color: rgba(255, 255, 255, 0.1);
}