html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #f1f1f1;
  background-color: #0F0F0F;
}

.pages {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.sections-videos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.sections-shorts {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
}
